---
import ProjectsGrid from "@components/ProjectsGrid.astro";
import Layout from "@layout/Layout.astro";
import { siteConfig } from "@config/site";

const { projects } = siteConfig.pages;
const projectsList = [
  {
    name: "Test",
    image: "/images/projects/test.png",
    description: "A personal project",
    link: "https://github.com",
  },
];
---

<Layout
  pageTitle={projects.title}
  description={projects.description}
  type={projects.type}
>
  <main class="px-8 pt-16 mx-auto max-w-6xl sm:pt-24 lg:px-16">
    <div class="flex flex-col mt-4 space-y-8">
      <div class="flex flex-col space-y-4">
        <h1
          class="text-4xl font-bold tracking-tighter sm:text-5xl max-w-[25ch]"
        >
          Test
        </h1>
        <p class="text-primary-300 max-w-[65ch]">Test</p>
      </div>
      <ProjectsGrid projects={projectsList} />
    </div>
  </main>
</Layout>
