---
import { siteConfig } from "@config/site";
import BackgroundPatterns from "./BackgroundPatterns.astro";

const { about } = siteConfig;
const pattern = Astro.url.searchParams.get("pattern") || "dots";
---

<div class="pt-16 sm:pb-12 md:pb-4 lg:pb-16 min-h-[80vh]">
  <div
    class="mx-auto mt-8 max-w-7xl lg:px-8 lg:bg-transparent bg-contentbackground"
  >
    <div class="lg:grid lg:grid-cols-12">
      <div
        class="z-10 lg:col-span-4 lg:col-start-1 lg:row-start-1 lg:py-16 lg:bg-transparent"
      >
        <div class="px-4 mx-auto max-w-xs sm:px-6 md:max-w-md lg:p-0">
          <img
            width={720}
            height={960}
            class="relative z-20 object-cover object-center w-full max-w-md rounded-3xl shadow-2xl -rotate-3 aspect-[1/1]"
            src="/images/personal/about.jpeg"
            alt={`Image of ${siteConfig.siteName}`}
            loading="lazy"
            decoding="async"
          />
        </div>
      </div>

      <div
        class="relative rounded-3xl lg:grid lg:grid-cols-10 lg:col-span-10 lg:col-start-3 lg:row-start-1 lg:items-center lg:bg-contentbackground"
      >
        <BackgroundPatterns selectedPattern={pattern} />

        <div
          class="relative z-20 py-12 mx-auto space-y-6 sm:py-16 sm:max-w-3xl lg:col-span-7 lg:col-start-4 lg:max-w-none"
        >
          <h2
            class="text-4xl leading-[45px] font-bold tracking-tighter sm:text-5xl sm:leading-[60px]"
            id="about-heading"
          >
            {about.content.heading}
          </h2>
          <div class="text-lg text-primary-300 md:text-primary-100">
            {
              about.content.paragraphs.map((paragraph) => (
                <p class="mb-4">{paragraph}</p>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
